.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: rgb(26, 168, 153);
}

.list-items{
    font-size: 2em;
    list-style: none;
    color: rgb(49, 49, 49);
    text-align: center;
    margin: 0;
}

.list-items li:hover{
    opacity: 0.5;
    cursor: pointer;
}

.list-category {
  /* Set a background for the hover effect */
  background: linear-gradient(to left, transparent 0%, #ff9900 50%, #007bff 100%);
  background-repeat: no-repeat;
  background-size: 200%; /* This determines the starting position (right) */
  transition: background-position 0.5s ease-in-out; /* Adjust transition duration and timing as needed */
  color: #000; /* Set the default text color */
}

.list-category:hover {
  /* Move the background gradient to reveal the colors on hover */
  background-position: 0%;
  cursor: pointer;
}


